/* body {
  background-color: black;
}

.posts1 {
  margin: 20px;
  padding: 20px;
}
.post-big {
  width: auto;
  height: 560px;
  box-shadow: 5px 5px 15px white;
}

h2 {
  color: darkgrey;
  margin-left: 35px;
  font-weight: bold;
  font-size: 40px;
}

p {
  color: white;
  width: 70%;
  position: absolute;
  left: 5%;
  margin-top: 40px;
  font-size: 18px;
}
.card {
  width: 300px;
  height: 760px;
  position: absolute;
  right: 40px;
  top: 40px;
  background-color: darkgrey;
  box-shadow: 5px 5px 15px white;
}
.icon1 {
  position: absolute;
  bottom: 15px;
  right: 10px;
  padding: 10px;
}
.icon2 {
  position: absolute;
  bottom: 15px;
  left: 10px;
  padding: 10px;
}
.data {
  padding: 10px;
}
.data img {
  width: 280px;
  height: 250px;
}
.text-1 {
  width: 100%;
  color: black;
  padding-right: 20px;
}
.contact-form {
  position: absolute;
  bottom: 30px;
  left: 10px;
}
.contact-form input {
  width: 90%;
  height: 40px;
  background-color: white;
  margin: 10px;
  border: none;
  padding: 5px;
} */
